.page__balance {
    position: relative;
    width: 394px;
    height: 852px;
    margin: 10px;
    border: 1px solid #775CE5;
    border-radius: 28px;
    background-color: #fff;
  }

  .page__balance__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 392px;
    height: 202px;
    background-image: url('./svg/balance-background.svg');
    background-size: cover;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
  }

  .header__content {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 394px;
  }

  .header__balance {
    display: flex;
    flex-direction: row;
    /* padding: 12px 12px; */
    gap: 16px;
    margin-top: 52px;
    width: 354px;
    height: 24px;
    border-radius: 12px;
    transition: border-color 0.3s;
    align-items: center;
  }

  .header__balance-image {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.3s;
      /* &:hover {
        background-color: #5385d5;
      } */
      &:active {
        opacity: 0.7; 
      }
  }

  .header__balance-title {
    font-size: 16px;
    font-weight: 400;
    color: #F3F5FF;
    text-align: center;
    flex-grow: 1;
   }

   .balance__amount {
    font-size: 34px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px;
   }

   .balance__operations {
    position: relative;
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
    margin-top: 166px;
   }

   .balance__operation {
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s;
    /* &:hover {
      background-color: #5385d5;
    } */
    /* &:active {
      opacity: 0.7; 
    } */
   }

   .balance__operations-text {
    font-size: 14px;
    font-weight: 400;
    color: #1D1D1F;
    display: flex;
    justify-content: center;
   }

    
  .form__balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 20px;
  }

  .card__balance {
    /* display: grid;
    padding: 16px 16px;
    gap: 16px;
    width: 352px;
    height: 138px;
    border-radius: 12px;
    background-color: #fff;
    transition: border-color 0.3s;
    align-items: center; */
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .card__balance-transaction {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch; */
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    gap: 16px;
    align-items: center;
    width: 352px;
    height: 72px;
    border-radius: 12px;
    /* justify-content: space-between; */
    background-color: #fff;
    transition: border-color 0.3s;
  }

  .transaction__divider {
    border: 1px solid #E9E8EB;  
    width: 320px;
    margin: auto;
  }

  .card__transaction__content-name {
    font-size: 14px;
    color: #1D1D1F;
  }

  .card__transaction__content-info {
    font-size: 14px;
    color: #1D1D1F;
  }




    