.page__notifications {
    width: 394px;
    height: 852px;
    margin: 10px;
    border: 1px solid #775CE5;
    border-radius: 28px;
    background-color: #F7F7F7;
  }

  .header {
    display: flex;
    align-items: baseline;
  }

  .header__notifications-title {
    margin-right: 48px;
    font-size: 20px;
    font-weight: 500;
    color: #121212;
    text-align: center;
    flex-grow: 1;
   }
    
  .form__receive {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    gap: 20px;
  }

  .field__receive {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 352px;
  }
  
  .card__label {
    font-size: 16px;
    font-weight: bold;
    color :#121212;
    margin-left: 0;
  }

  .cards__notifications {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .card__notifications {
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    gap: 16px;
    align-items: center;
    width: 352px;
    height: 72px;
    border-radius: 12px;
    
    background-color: #fff;
    transition: border-color 0.3s;
  }

  .card__notifications-image {
    width: 40px;
    height: 40px;
    cursor: pointer;

    transition: opacity 0.3s;
      &:hover {
        background-color: #E9E8EB;
      }
      &:active {
        opacity: 0.7; 
      }
  }

  .card__notifications-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card__notifications-title {
    font-size: 16px;
    font-weight: bold;
    color: #1D1D1F;
  }

  .card__notifications-text-description {
    font-size: 12px;
    color: #939199;
  }

  .card__group__image {
    width: 160px;
    height: 20px;
    margin-left: auto;
  }


    