.page__send {
  width: 394px;
  height: 852px;
  margin: 26px;
  border: 1px solid #775CE5;
  border-radius: 28px;
}

.header {
  display: flex;
  align-items: baseline;
}
  
.form__send {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  background-color: #fff;
  gap: 24px;
}

.form__send-title {
  margin-right: 48px;
  font-size: 20px;
  line-height: 100%;
  font-weight: bold;
  color: #121212;
  text-align: center;
  flex-grow: 1;
}

.field__send {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 352px;
}

.field__send-label {
  /* display: block; */
  font-size: 14px;
  color: #1D1D1F;
  margin: 0;
}

.field__input {
  border: 1px solid #E9E8EB;
  border-radius: 12px;
  height: 54px;
  gap: 16px;
  padding: 16px 20px;
  font-size: 14px;
  color: #1D1D1F;
  transition: border-color 0.3s;
}

.field__input::placeholder {
  color: gray;
}

.field__input:hover {
  border-color: #775CE5;
}

.field__input:focus {
  border-color: #ce0e0e;
}

.form__send-button {
  background-color: #775CE5;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 14px;
  width: 352px;
  height: 56px;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  transition: opacity 0.3s;
    &:hover {
      background-color: #6a4ddc;
    }
    &:active {
      opacity: 0.7; 
    }
}
  