.start-page {
  position: relative;
  width: 394px;
  height: 852px;
  margin: 26px;
  border: 1px solid #775CE5;
  border-radius: 28px;
}

.start-page__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 394px;
  height: 582px;
  background-image: url('background.svg');
  background-size: cover;
  border-radius: 28px;
}

.start-page__image {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  height: auto;
}

.start-page__text {
  display: grid;
  gap: 16px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  line-height: 100%;
  font-size: 2rem;
  text-align: center;
}

.start-page__text-title {
  font-size: 42px;
  font-weight: bold;
}

  .start-page__text-description {
    font-size: 20px;
    white-space: nowrap;
  }
  
  .start-page__buttons {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    gap: 12px;
    font-size: 16px;
    align-content: center;
    cursor: pointer;
  }

  .start-page__button-purple {
    margin: 0 10px;
    padding: 20px 20px;
    background-color: #775CE5;
    color: white;
    border: none;
    border-radius: 14px;
    width: 352px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s;
    &:hover {
      background-color: #6a4ddc;
      font-size: 24px;
    }
    &:active {
      opacity: 0.7; 
    }
  }

  .start-page__button-white {
    margin: 0 10px;
    padding: 20px 20px;
    background-color: #fff;
    color: #775CE5;
    border: 1px solid #775CE5;
    border-radius: 14px;
    width: 352px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.3s;
    &:hover {
      background-color: #f1f657;
      border: none;
      font-size: 24px;
    }
    &:active {
      opacity: 0.7; 
    }
  }
  